.transparent-bg {
  background: transparent !important;
}

.no-border {
  border: none !important;
}

.flex-center {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.flex-space-between {
  display: flex !important;
  justify-content: space-between;
}

.cursor-pointer {
  cursor: pointer !important;
}