#luban-layout  {
  .header {
    padding: 0 10px;

    .logo {
      width: 120px;
      height: 31px;
      // background: rgba(255,255,255,.2);
      margin: 16px 28px 16px 0;
      float: left;

      line-height: 31px;
      text-align: center;
      color: white;
      font-size: 16px;
    }
  }

  .shortcut-button {
    width: 100%;
    height: 40px;

    .shortcut-icon {
      padding-right: 4px;
      // display: block;
      // font-size: 16px;
      // margin-bottom: 10px;
    }
  }

  .canvas-editor-wrapper {
    .element--editing {
      outline: 1px dashed #70c0ff !important;
    }

    // !#zh 控制缩放大小的圆点
    .shape__scale-point {
      position: absolute;
      background: #fff;
      border: 1px solid rgb(89, 199, 249);
      width: 6px;
      height: 6px;
      z-index: 1;
      border-radius: 50%;
    }
    // TODO #!zh: 写一个辅助线基类： base-line
    .v-line {
      position: absolute;
      height: 100vh;
      width: 1px;
      top: 0;
      background-color: #94f5ff;
    }
    .h-line {
      position: absolute;
      height: 1px;
      width: 100vh;
      left: 0;
      background-color: #94f5ff;
    }
  }
}



.transparent-bg {
  background: transparent !important;
}

.no-border {
  border: none !important;
}