#luban-layout  {
  .header {
    padding: 0 10px;

    .logo {
      width: 120px;
      height: 31px;
      // background: rgba(255,255,255,.2);
      margin: 16px 28px 16px 0;
      float: left;

      line-height: 31px;
      text-align: center;
      color: white;
      font-size: 16px;
    }
  }

  .shortcut-button {
    width: 100%;
    height: 40px;

    .shortcut-icon {
      padding-right: 4px;
      // display: block;
      // font-size: 16px;
      // margin-bottom: 10px;
    }
  }

  .canvas-editor-wrapper {
    // inspired by https://github.com/Heboy/h5-maker/blob/38136192bab1427b9d5741a5dae0b5186d4b2ea0/src/scss/Page.scss#L8
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADVJREFUeNpifPHixQEGGgMWEPH161cHWlrCxEAHMGrJqCWjloxaMmrJqCWjloxaMrgtAQgwAL+YBst5kqDgAAAAAElFTkSuQmCC);
    .element--editing {
      outline: 1px dashed #70c0ff !important;
    }

    // !#zh 控制缩放大小的圆点
    .shape__scale-point {
      position: absolute;
      background: #fff;
      border: 1px solid rgb(89, 199, 249);
      width: 6px;
      height: 6px;
      z-index: 1;
      border-radius: 50%;
    }
    // TODO #!zh: 写一个辅助线基类： base-line
    .v-line {
      position: absolute;
      height: 100vh;
      width: 1px;
      top: 0;
      background-color: #94f5ff;
    }
    .h-line {
      position: absolute;
      height: 1px;
      width: 100vh;
      left: 0;
      background-color: #94f5ff;
    }
  }

  #props-edit-form {
    .ant-form-item {
      margin-bottom: 12px;
    }
  }

  .page-manager-container {
    margin-top: 16px;
    .page-button {
      padding: 18px 8px;
      border-bottom: 1px solid #ebeef5;
      box-sizing: border-box;
      cursor: pointer;
    }
    .active-page {
      color: #2981fa;
    }

  }
}



.transparent-bg {
  background: transparent !important;
}

.no-border {
  border: none !important;
}