@import url("./helpers.scss");
@import url("./spacing-helpers.scss");
@import url("./shape.scss");
@import url("./align-guides.scss");
@import url("./shortcut-btn.scss");
@import url("./page-manager.scss");
@import url("./canvas-wrapper.scss");
@import url("./adjust.scss");

.hidden {
  display: none !important;
}

// 拖拽出来的控件
.dragging-dom-ele {
  position: fixed !important;
  z-index: 100;

  display: inline-block;
  box-sizing: border-box;

  height: 30px;
  width: 130px;
  border-radius: 4px;
  border: 1px solid #ccc;

  cursor: grabbing;
  user-select: none;
  opacity: 0.6;
}

.ant-tabs-nav .ant-tabs-tab {
  padding: 12px 0 !important;
}

.avaiable-animations-tabs .ant-tabs-nav .ant-tabs-tab {
  padding: 12px 16px !important;
}

// 动画编辑面板定制
#animation-right-panel {
  .ant-collapse-header {
    padding: 6px 0 6px 40px;
  }

  .adjust-line-wrapper {
    margin-top: 12px;

    .ant-form-item {
      margin-bottom: 0;
    }
  }
}

.default-router-link {
  color: rgba(0, 0, 0, 0.65);
}
.router-link-active {
  color: #1890ff !important;
  background-color: transparent;
  text-decoration: none;
}

.plugin-usage-tip {
  font-size: 12px;
  color: #999;
  border-left: 0.2rem solid #dfe2e5;
  // margin: 1rem 0;
  padding: 0.25rem 0 0.25rem 0.5rem;
}

.ant-layout-sider {
  // 防止拖动延迟
  transition: none !important;
}
