@import url("./helpers.scss");
@import url("./spacing-helpers.scss");
@import url("./shape.scss");
@import url("./align-guides.scss");
@import url("./shortcut-btn.scss");
@import url("./page-manager.scss");
@import url("./canvas-wrapper.scss");

.hidden {
  display: none !important;
}

// 拖拽出来的控件
.dragging-dom-ele {
  position: fixed !important;
  z-index: 100;

  display: inline-block;
  box-sizing: border-box;

  height: 30px;
  width: 130px;
  border-radius: 4px;
  border: 1px solid #CCC;

  cursor: grabbing;
  user-select: none;
  opacity: 0.6;
}

.ant-tabs-nav .ant-tabs-tab {
  padding: 12px 0 !important;
}


.avaiable-animations-tabs .ant-tabs-nav .ant-tabs-tab {
  padding: 12px 16px !important;
}

// 动画编辑面板定制
#animation-right-panel {
  .ant-collapse-header {
    padding: 6px 0 6px 40px;
  }

  .collapse-wrapper {
    margin-top: 12px;

    .ant-form-item {
      margin-bottom: 0;
    }
  }
}

.default-router-link {
  color: rgba(0, 0, 0, 0.65);
}
.router-link-active {
  color: #1890ff !important;
  background-color: transparent;
  text-decoration: none;
}

.plugin-usage-tip {
  font-size: 12px;
  color: #999;
  border-left: .2rem solid #dfe2e5;
  // margin: 1rem 0;
  padding: .25rem 0 .25rem 0.5rem;
}

.ant-layout-sider {
  // 防止拖动延迟
  transition: none !important;
}

$activeHoverColor: #1593ff;
.adjust-line-wrapper {
  .adjust-line {
    border: 1px solid #eee;
  }

  .adjust-line-h {
    width: 100%;
  }

  .adjust-line-v {
    height: 100%;
  }

  .adjust-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 30px;
    height: 10px;
    background-color: #fff;

    .indicator {
      margin: 0 auto;
      width: 10px;
      height: 1px;
      background-color: #ccd5db;
    }
  }

  &:hover {
    .adjust-button {
      background-color: $activeHoverColor;
    }

    .adjust-line {
      border-color: $activeHoverColor;
    }
  }
}

.adjust-line-wrapper-h {
  cursor: ns-resize;

  .adjust-tip {
    letter-spacing: 1px;
    padding: 0;
    height: 24px;
    margin: 2px auto 0;
    text-align: center;
    line-height: 24px;
    font-size: 12px;
    color: #868484;
    vertical-align: middle;
  }
}

.adjust-line-wrapper-v {
  position: relative;
  height: 100vh;
  cursor: ew-resize;

  .adjust-button {
    position: absolute;
    right: -10px;
    top: 50%;
    transform: rotate(90deg);
  }
}