$height: 454px;

.loading-col {
  margin-bottom: 10px;
  text-align: center;
  height: $height;
  line-height: $height;
  border-bottom: 1px solid #ebedf0;
  background: rgba(255, 255, 255, 0.5);

  .vertical-align {
    height: $height;
    line-height: $height;
  }
}