<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>鲁班-H5</title>
  <meta content="拖拽生成,拖拽生成页面,页面可视化,鲁班可视化搭建平台,鲁班,鲁班H5,可视化搭建,可视化平台,可视化搭建平台,开源易企秀,开源人人秀,开源百度H5,lubanh5,luban-h5,webpage buiilder,page builder,h5 builder" name="keywords" />
  <meta content="鲁班H5-是一款基于Vue2.0 + 常见业务组件，可以通过拖拽的形式生成页面，类似易企秀、百度 H5 的可视化搭建系统；我们的初心也是希望能通过工程化的手段，大幅度提高简单H5页面的制作效率，提高工程师的幸福感，从这种需求频繁变更的简单任务中解脱出来" name="description" />
</head>
<body>
  <div id="root"></div>
</body>
</html>