<html>
  <head>
    <title>Luban H5 Preview</title>
  </head>
  <script>window.__work = <%- JSON.stringify(work) %></script>
  <body>
    Q: What's this?
    A: A tiny render engine based on ejs for Luban H5 work
  </body>
</html>